header, section {
	display: inline-block;
}

.left {
	float: left;
	width: 35%;
}

.right {
	float: right;
	width: 60%;
}

#headshot {
	display: block;
	text-align: center;
	margin: 50px auto 0;
	border: 2px solid #E13A63;
}

.experience {
	display: inline-block;
	clear: both;
	margin-top: 30px;
	text-align: center;
}

header, .experience {
	border: 2px solid #E13A63;
	padding: 10px;
}

@media screen and (max-width: 415px){
  .main-content {margin: 0 20px;
  }
    .right {
    text-align: center;
    width: 60%;
    position: center;
    position: relative;
    left: 61px;
    float: none;
		display:contents;
}
}
	.left #headshot {
    display: block;
    text-align: center;
    margin: 50px auto 0;
    border: 2px solid #E13A63;
    position: relative;
    left: 1%;
	}
	.left {display: contents;
		float: none;
		text-align: center;
	}
}
